---
import Layout from "@components/Layout.astro";
import TextArea from "@components/TextArea.astro";
import DivCenter from "@components/DivCenter.astro";
import DivPadding from "@components/DivPadding.astro";
import H1 from "@components/H1.astro";
import Button from "@components/Button.astro";

// Import the initDB function to initialize the database
import { initDB } from '../lib/database/db';

// Call the function to initialize the database
initDB();

export const prerender = false;
---

<Layout title="UM Confession">
	<DivCenter>
	<H1 className="text-3xl mt-10 mb-5">UM Confession</H1>
	</DivCenter>
	<DivPadding padding="4">
		<DivCenter>
			<TextArea />
		</DivCenter>
	</DivPadding>
	<DivPadding>
		<DivCenter>
			<Button ariaLabel="Submit Confession Button" className="bg-[#633CBE] text-gray-100 text-md font-semibold">
				Submit
			</Button>
		</DivCenter>
	</DivPadding>
</Layout>
