---
import Layout from "../components/Layout.astro";

export const prerender = true;
---

<Layout title="UMCCED Confession">
	<h1 class="text-white">Hello, Astro!</h1>
	<p class="text-white">This is a simple Astro page.</p>
</Layout>