---
import Icon from "@components/Icon.astro"; // Assuming you have a spinner icon component

const { className = "", ariaLabel } = Astro.props;
---

<button 
aria-label={ariaLabel}
  type="button" 
  x-data="{ loading: false }" 
  x-on:click="loading = true" 
  class={`py-3 px-4 inline-flex items-center gap-x-2 rounded-lg border border-transparent focus:outline-none disabled:opacity-50 disabled:pointer-events-none ${className}`}
>
  <!-- Slot content (button text) is shown when not loading -->
  <span x-show="!loading">
    <slot></slot>
  </span>

  <!-- Spinner icon is shown when loading -->
  <span x-show="loading" class="inline-flex items-center">
    <Icon
      name="spinner" 
      class="spinner-icon"
      size={26}
    />
  </span>
</button>
