<div class="w-full max-w-lg mx-auto">
    <label for="textarea-label" class="block text-xl font-medium mb-4 text-white">Message</label>
    <textarea 
    aria-label="Confession Message Textarea"
      id="textarea-label" 
      class="py-3 px-4 block w-full border-gray-200 rounded-lg text-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" 
      rows="6"
      placeholder="Write your confession..."
      style="min-height: 200px;"
    ></textarea>
  </div>
  